<div class="header-padding">
  <div class="unselectable-line header-row" style=" align-items: center; ">

    <div class="el-tag--plain" style="width: 100%; font-weight: bolder;">
      Gerenciar Pessoas
    </div>

    <div class="el-tag--plain" style="width: 100%; font-size: 15px;">
      Clique em um item para editá-lo
    </div>
  </div>
</div>
<div>


<cdk-virtual-scroll-viewport itemSize="56" style="height: 500px">
  <mat-list *cdkVirtualFor="let pessoa of Pessoas, let i=index">
          <mat-card (click)="openPessoaDialog(pessoa)" style="text-align: center;">
            <mat-card-content  class="el-tag--plain unselectable-line">
              {{pessoa.Nome}}
            </mat-card-content>
          </mat-card>
  </mat-list>

 </cdk-virtual-scroll-viewport>

 <div class="button-row">
  <button mat-raised-button  (click)='openPessoaDialog()'>Criar novo</button>
  <button mat-raised-button  (click)='onCancel()'>Cancelar</button>
</div>
