<form [formGroup]="novaPessoaForm">
  <div class="header-padding">
    <div class="unselectable-line display-flex header-row" style=" align-items: center; ">

      <div *ngIf="!preloaded.pessoa" class="el-tag--plain" style="width: 100%;">
        Nova Pessoa
      </div>

      <div *ngIf="preloaded.pessoa" class="el-tag--plain" style="width: 100%;">
        Editar Pessoa
      </div>
    </div>
  </div>
<div>
  <div class="formulario">
  <div style="width: 100%; text-align: center; justify-content: space-around; padding-top: 10px;">

    <mat-form-field  style="width: 30%;text-align: center;" class="form-field">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="Nome" [errorStateMatcher]="errorMatcher">
      <mat-error *ngIf="novaPessoaForm.get('Nome').hasError('required')" >
        É necessário inserir um nome.
      </mat-error>
    </mat-form-field>

    <mat-form-field  style="width: 30%;text-align: center;" class="form-field">
      <mat-label>Sobrenome</mat-label>
      <input matInput formControlName="Sobrenome" [errorStateMatcher]="errorMatcher">
      <mat-error *ngIf="novaPessoaForm.get('Sobrenome').hasError('required')" >
        É necessário inserir um sobrenome.
      </mat-error>
    </mat-form-field>

    <mat-form-field  style="width: 20%;" class="form-field">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="Tipo">
        <mat-option *ngFor="let tipo of Tipos" [value]="tipo">
          {{ tipo }}
         </mat-option>
    </mat-select>
    <mat-error *ngIf="novaPessoaForm.get('Tipo').hasError('required')" >
      É necessário escolher um tipo.
    </mat-error>
  </mat-form-field>

  </div>

  <div style="width: 100%; text-align: center; justify-content: space-around; padding-top: 10px;">

    <mat-form-field *ngIf="selected_document === 'CPF'" style="width: 30%;text-align: center;" class="form-field">
      <mat-label>CPF</mat-label>
      <input [textMask]="{mask: MASKS.cpf.textMask}" matInput formControlName="CPF_CNPJ">
    </mat-form-field>

    <mat-form-field *ngIf="selected_document === 'CNPJ'" style="width: 30%;text-align: center;" class="form-field">
      <mat-label>CNPJ</mat-label>
      <input [textMask]="{mask: MASKS.cnpj.textMask}" matInput formControlName="CPF_CNPJ">
    </mat-form-field>

    <mat-form-field style="width: 20%;text-align: center; padding-top: 10px;" class="form-field">
      <mat-label>Banco</mat-label>
      <input matInput formControlName="Banco">

    </mat-form-field>

    <mat-form-field  style="width: 20%;text-align: center; padding-top: 10px;" class="form-field">
      <mat-label>Agencia</mat-label>
      <input matInput formControlName="Agencia">
      <mat-error *ngIf="novaPessoaForm.get('CPF_CNPJ').hasError('pattern')" >
        Apenas números podem ser inseridos aqui.
      </mat-error>
    </mat-form-field>

    <mat-form-field  style="width: 20%;text-align: center; padding-top: 10px;" class="form-field">
      <mat-label>Conta</mat-label>
      <input matInput formControlName="Conta">
      <mat-error *ngIf="novaPessoaForm.get('CPF_CNPJ').hasError('pattern')" >
        Apenas números podem ser inseridos aqui.
      </mat-error>
    </mat-form-field>

  </div>

  <div style="padding-left: 10%;">

    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group" [value]="selected_document" >
      <mat-radio-button value='CPF' (click)="changeDocument('CPF')">
        CPF
      </mat-radio-button>
      <mat-radio-button value='CNPJ' (click)="changeDocument('CNPJ')" >
        CNPJ
      </mat-radio-button>
    </mat-radio-group>
  </div>

</div>



  <div *ngIf="error" style="width: 100%;text-align: center; ">
    <mat-error>{{error | errorMessage }} </mat-error>
  </div>
</div>
<div class="button-row">
  <button mat-raised-button  (click)='onSubmit()' [disabled]="!novaPessoaForm.valid">Concluir</button>
  <button mat-raised-button *ngIf="preloaded.pessoa"  (click)='onDelete()' type="button">Excluir</button>
  <button mat-raised-button   (click)='onCancel()' type="button">Cancelar</button>
</div>


</form>
