<div class="content-fluid" role="main">

    <div class="header-padding">
      <div class="unselectable-line display-flex header-row" style=" align-items: center">

        <div class="el-tag--plain el-col-3">
          Identificação
          <button (click)="getColumnValues('Pessoa')" [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Pessoa', 'class_msg':sortMessages.forText }" class="small-icon-button position-absolute" mat-icon-button >
            <mat-icon color="darker-primary" *ngIf="!activeSorts.Pessoa.active && !activeFilters.Pessoa">arrow_drop_down</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Pessoa">filter_alt</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Pessoa.active && activeFilters.Pessoa" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Pessoa.dir}}</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Pessoa.active && !activeFilters.Pessoa">{{activeSorts.Pessoa.dir}}</mat-icon>
          </button>
      </div>

        <div class="el-tag--plain el-col-4">
            Locatário
            <button (click)="getColumnValues('Pessoa')" [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Pessoa', 'class_msg':sortMessages.forText }" class="small-icon-button position-absolute" mat-icon-button >
              <mat-icon color="darker-primary" *ngIf="!activeSorts.Pessoa.active && !activeFilters.Pessoa">arrow_drop_down</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Pessoa">filter_alt</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Pessoa.active && activeFilters.Pessoa" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Pessoa.dir}}</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Pessoa.active && !activeFilters.Pessoa">{{activeSorts.Pessoa.dir}}</mat-icon>
            </button>
        </div>

        <div class="el-tag--plain el-col-4">
          Descrição
          <button (click)="getColumnValues('Descricao')" [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Descricao' , 'class_msg': sortMessages.forText }" class="small-icon-button position-absolute" mat-icon-button >
            <mat-icon color="darker-primary" *ngIf="!activeSorts.Descricao.active && !activeFilters.Descricao">arrow_drop_down</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Descricao">filter_alt</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Descricao.active && activeFilters.Descricao" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Descricao.dir}}</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Descricao.active && !activeFilters.Descricao">{{activeSorts.Descricao.dir}}</mat-icon>
          </button>
        </div>

        <div class="el-tag--plain el-col-3">
          Data de Início
          <button (click)="getColumnValues('Data_inicio')" [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Data_inicio', 'class_msg':sortMessages.forDates }" class="small-icon-button position-absolute" mat-icon-button >
            <mat-icon color="darker-primary" *ngIf="!activeSorts.Data_inicio.active && !activeFilters.Data_inicio">arrow_drop_down</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Data_inicio">filter_alt</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Data_inicio.active && activeFilters.Data_inicio" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Data_inicio.dir}}</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Data_inicio.active && !activeFilters.Data_inicio">{{activeSorts.Data_inicio.dir}}</mat-icon>
          </button>

        </div>

        <div class="el-tag--plain el-col-3">
          Data de Término
            <button (click)="getColumnValues('Data_termino')" [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Data_termino', 'class_msg':sortMessages.forDates }" class="small-icon-button position-absolute" mat-icon-button >
              <mat-icon color="darker-primary" *ngIf="!activeSorts.Data_termino.active && !activeFilters.Data_termino">arrow_drop_down</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Data_termino">filter_alt</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Data_termino.active && activeFilters.Data_termino" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Data_termino.dir}}</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Data_termino.active && !activeFilters.Data_termino">{{activeSorts.Data_termino.dir}}</mat-icon>
            </button>

          </div>

        <div class="el-tag--plain el-col-3">
          Valor
          <button (click)="getColumnValues('Valor')" [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Valor', 'class_msg':sortMessages.forNumber }" class="small-icon-button position-absolute" mat-icon-button >
            <mat-icon color="darker-primary" *ngIf="!activeSorts.Valor.active && !activeFilters.Valor">arrow_drop_down</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Valor">filter_alt</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Valor.active && activeFilters.Valor" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Valor.dir}}</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Valor.active && !activeFilters.Valor">{{activeSorts.Valor.dir}}</mat-icon>
          </button>
        </div>

        <div class="el-tag--plain el-col-1">
          C.C
          <button (click)="getColumnValues('CC')" [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'CC', 'class_msg':sortMessages.forText }" class="small-icon-button position-absolute" mat-icon-button >
            <mat-icon color="darker-primary" *ngIf="!activeSorts.CC.active && !activeFilters.CC">arrow_drop_down</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.CC">filter_alt</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.CC.active && activeFilters.CC" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.CC.dir}}</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.CC.active && !activeFilters.CC">{{activeSorts.CC.dir}}</mat-icon>
          </button>
        </div>

        <div class="el-tag--plain el-col-1">
          Div. C.C
          <button (click)="getColumnValues('Div_CC')" [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Div_CC', 'class_msg':sortMessages.forNumber }" class="small-icon-button position-absolute" mat-icon-button >
            <mat-icon color="darker-primary" *ngIf="!activeSorts.Div_CC.active && !activeFilters.Div_CC">arrow_drop_down</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Div_CC">filter_alt</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Div_CC.active && activeFilters.Div_CC" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Div_CC.dir}}</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Div_CC.active && !activeFilters.Div_CC">{{activeSorts.Div_CC.dir}}</mat-icon>
          </button>
        </div >

        <div class="el-tag--plain el-col-1">
          Tipo
          <button (click)="getColumnValues('Tipo')" [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Tipo' , 'class_msg': sortMessages.forText }" class="small-icon-button position-absolute" mat-icon-button >
            <mat-icon color="darker-primary" *ngIf="!activeSorts.Tipo.active && !activeFilters.Tipo">arrow_drop_down</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Tipo">filter_alt</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Tipo.active && activeFilters.Tipo" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Tipo.dir}}</mat-icon>
            <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Tipo.active && !activeFilters.Tipo">{{activeSorts.Tipo.dir}}</mat-icon>
          </button>
        </div>

        </div>
    </div>

    <cdk-virtual-scroll-viewport *ngIf="!cdk_empty && !loading; else elseBlock" itemSize="94" (scrolledIndexChange)="scroll_func($event)">

        <div style="padding-bottom: 10px; height: 84px;" *cdkVirtualFor="let Contrato of Contratos, let i=index"  >

          <mat-card (contextmenu)="onContextMenu($event, Contrato, i)">
            <mat-card-content>
              <div class="unselectable-line display-flex" style=" align-items: center">

                <div class="el-tag--plain el-col-3">
                  {{Contrato.Identificacao}}
                </div>

                <div class="el-tag--plain el-col-4">
                  {{Contrato.Pessoa}}
                </div>

                <div class="el-tag--plain el-col-4">
                  {{Contrato.Descricao}}
                </div>

                <div class="el-tag--plain el-col-3" style="align-items: center;">
                      {{ Contrato.Data_inicio | amLocal | amDateFormat: 'DD/MM/YYYY' }}
                  </div>

                  <div class="el-tag--plain el-col-3" style="align-items: center;">
                    {{ Contrato.Data_termino | amLocal | amDateFormat: 'DD/MM/YYYY' }}
                </div>

                <div class="el-tag--plain el-col-3">
                  {{ Contrato.Valor | currency:'BRL'}}
                </div>

                <div class="el-tag--plain el-col-1">
                  {{Contrato.CC}}
                </div>


                <div class="el-tag--plain el-col-1">
                  {{Contrato.Div_CC}}
                </div >

                <div class="el-tag--plain el-col-1">
                  {{Contrato.Tipo}}
                </div >

              </div>

            </mat-card-content>

          </mat-card>
        </div>

      </cdk-virtual-scroll-viewport>


      <span class="footer-row">

        <div class="botao-contratos">

          <button mat-raised-button color="primary" (click)="openContratosDialog()">
            <mat-icon>
              add
            </mat-icon>
            Novo contrato
          </button>

        </div>
        <span><button style=" margin-top: 20px;" (click)="clearAllFilters()" mat-raised-button color="warn" type="button"><mat-icon style="font-size: 20px;">delete</mat-icon>Excluir todos os filtros</button></span>
      </span>

      <ng-template #elseBlock>
        <cdk-virtual-scroll-viewport itemSize="94">
          <div *ngIf="!loading" style="padding-top: 20px; display: flex;
          justify-content: center;
          align-items: center;">
            <mat-card class="empty-results-disclaimer">
              <mat-card-content>Nada para mostrar</mat-card-content>

            </mat-card>
          </div>
          <div *ngIf="loading" style="text-align: center;">
            <mat-spinner class="loading-indicator"></mat-spinner>
            <div>Carregando...</div>
          </div>
        </cdk-virtual-scroll-viewport>
      </ng-template>

      <div style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu"
  #contextMenuTrigger="matMenuTrigger">
    </div>
  <mat-menu #contextMenu="matMenu" >
    <ng-template matMenuContent let-item="item" let-index = "index">
      <button mat-menu-item (click)="editLine(index)">Editar</button>
      <button mat-menu-item (click)="deleteLine(item,index)">Deletar</button>
    </ng-template>
  </mat-menu>
  <mat-menu #dropdown_menu="matMenu">
    <ng-template  matMenuContent let-column="column" let-class_msg="class_msg">
    <button [matMenuTriggerData]="{ 'values': this.filterValues , 'column' : column}" [matMenuTriggerFor]="filtrar" mat-menu-item>
      <mat-icon>filter_alt</mat-icon>
      Filtrar
    </button>
    <button [matMenuTriggerData]="{ 'column': column, 'class_msg' : class_msg }" [matMenuTriggerFor]="classificar" mat-menu-item>
      <mat-icon>sort</mat-icon>
      Classificar
    </button>
    <button *ngIf="activeFilters[column]" mat-menu-item (click)="clearFilter(column)">
      <mat-icon>clear</mat-icon>
      Excluir filtro
    </button>
  </ng-template>
  </mat-menu>

  <mat-menu #filtrar="matMenu">
    <ng-template  matMenuContent let-values="values" let-column="column" let-class_msg="class_msg">
      <div (click)="filterBy(column, item)" *ngFor="let item of values">

        <div *ngIf="(column === 'Data_termino' || column === 'Data_inicio'); then filtrarElseBlock1; else filtrarElseBlock2"></div>
        <ng-template #filtrarElseBlock1><button mat-menu-item>{{ item | amLocal | amDateFormat: 'DD/MM/YYYY' }}</button></ng-template>

        <ng-template #filtrarElseBlock2>
          <div *ngIf="column === 'Valor'; then filtrarElseBlock3; else filtrarElseBlock4">
        </div>
        <ng-template #filtrarElseBlock3><button mat-menu-item>{{ item | currency:'BRL'}}</button> </ng-template>
        <ng-template #filtrarElseBlock4><button mat-menu-item>{{ item | Tipo}}</button> </ng-template>
        </ng-template>

        </div>
        </ng-template>

  </mat-menu>

  <mat-menu  #classificar="matMenu">
    <ng-template  matMenuContent let-column="column" let-class_msg="class_msg">
    <button mat-menu-item (click)="sortBy(column, 'ASC')"><mat-icon>arrow_downward</mat-icon>{{class_msg.up}}</button>
    <button mat-menu-item (click)="sortBy(column, 'DESC')"><mat-icon>arrow_upward</mat-icon>{{class_msg.down}}</button>
  </ng-template>
  </mat-menu>

 </div>



