<div class="content-fluid" role="main">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="formulario">
        <div class="el-tag--plain noselect" style="font-weight: bolder; font-size: 20px; margin-bottom: 15px;">
          Faça login
        </div>
        <div class="input-forms">
            <mat-form-field class="form-field">
              <mat-label>Usuário</mat-label>
              <input matInput formControlName="username" [errorStateMatcher]="errorMatcher">
              <mat-error *ngIf="loginForm.get('username').hasError('required')" >
                É necessário inserir um usuário.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="input-forms">
          <mat-form-field class="form-field">
            <mat-label>Senha</mat-label>
            <input type="password"  matInput formControlName="password" [errorStateMatcher]="errorMatcher"   >

            <mat-error *ngIf="loginForm.get('password').hasError('required')" >
              É necessário inserir uma senha.
            </mat-error>

            <mat-hint> </mat-hint>
          </mat-form-field>

        </div>
        <div *ngIf="error">
          <mat-error style="font-size: 1.5vh; text-align: center;">
            {{error}}
          </mat-error>
        </div>

        <div class="button-row">
          <button mat-raised-button color="primary" (click)='onSubmit()'>Entrar</button>
        </div>

        <div class="button-row">
          <button mat-raised-button color="primary" (click)='signNewUser()'>Cadastrar Novo Usuário</button>
        </div>

      </div>




  </form>


</div>
