<form [formGroup]="novoCCForm">
  <div class="header-padding">
    <div class="unselectable-line display-flex header-row" style=" align-items: center; ">

      <div class="el-tag--plain" style="width: 100%;">
        Centro de Custo
      </div>
    </div>
  </div>
<div>

  <div style="text-align: center; padding-top: 10px;">
    <mat-form-field style="width: 30%;text-align: center;" class="noselect">
      <mat-label>Abreviação</mat-label>
      <input upperCase class="noselect"  matInput formControlName="Abreviacao" [errorStateMatcher]="errorMatcher"   >

      <mat-error *ngIf="novoCCForm.get('Abreviacao').hasError('required')" >
        É necessário inserir uma abreviação.
      </mat-error>

      <mat-error *ngIf="novoCCForm.get('Abreviacao').hasError('pattern')" >
        A abreviação deve ter apenas 3 caractéres.
      </mat-error>

      <mat-hint> </mat-hint>
    </mat-form-field>

    </div>

    <mat-form-field style="width: 100%;text-align: center; padding-top: 15px;" class="form-field">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="Descricao" [errorStateMatcher]="errorMatcher">
      <mat-error *ngIf="novoCCForm.get('Descricao').hasError('required')" >
        É necessário inserir uma descrição.
      </mat-error>
    </mat-form-field>
  </div>

  <div *ngIf="error_CC" style="width: 100%;text-align: center; ">
    <mat-error>{{error_CC | errorMessage }} </mat-error>
  </div>

  <mat-divider style="padding-bottom: 10px;"></mat-divider>
  <form [formGroup]="divCCForm">
    <div style="text-align: center;">
      <mat-form-field style="text-align: center;" class="noselect">
        <mat-label>Divisão de Custo</mat-label>
        <input upperCase class="noselect"  matInput formControlName="Div_CC" [errorStateMatcher]="errorMatcher"   >

        <mat-error *ngIf="divCCForm.get('Div_CC').hasError('required')" >
          É necessário inserir uma divisão de custo.
        </mat-error>

      </mat-form-field>

      </div>
      <div class="button-row">
      <button mat-mini-fab color="primary" [disabled]="!divCCForm.valid" (click)="addDivCC()">
        <mat-icon >add</mat-icon>
      </button>
      </div>
  </form>


  <div class="header-padding">
    <div class="unselectable-line display-flex header-row" style=" align-items: center">

      <div class="el-tag--plain" style="width: 100%;">
        Divisões de custo
      </div>
    </div>
  </div>

  <cdk-virtual-scroll-viewport itemSize="56">
    <mat-list *cdkVirtualFor="let item of divCCArray, let i=index">
      <mat-list-item class="unselectable-line" style="align-items: center;">
          <div class="el-tag--plain" style="width: 90%;">
            {{item}}
          </div>
          <button mat-icon-button color="grey" style="width: 10%;" (click)="removeDivCC(i)">
            <mat-icon >delete</mat-icon>
          </button>
      </mat-list-item>
    </mat-list>

   </cdk-virtual-scroll-viewport>

   <div *ngIf="error_div_CC" style="width: 100%;text-align: center; ">
    <mat-error>{{error_div_CC | errorMessage }} </mat-error>
  </div>

<div class="button-row">
  <button mat-raised-button  (click)='onSubmit()' [disabled]="!novoCCForm.valid || divCCArray.length == 0 && !error_CC && !error_div_CC">Concluir</button>
  <button mat-raised-button   (click)='onCancel()' type="button">Cancelar</button>
</div>


</form>
