<form focusNext [formGroup]="novoCCForm">

<div>
    <mat-form-field style="width: 100%;text-align: center;" class="form-field">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="Descricao" [errorStateMatcher]="errorMatcher">
      <mat-error *ngIf="novoCCForm.get('Descricao').hasError('required')" >
        É necessário inserir uma descrição.
      </mat-error>
    </mat-form-field>
  </div>

  <div style="text-align: center;">
  <mat-form-field style="width: 30%;text-align: center;" class="form-field noselect">
    <mat-label>Abreviação</mat-label>
    <input appUppercase class="noselect"  matInput formControlName="Abreviacao" [errorStateMatcher]="errorMatcher"   >

    <mat-error *ngIf="novoCCForm.get('Abreviacao').hasError('required')" >
      É necessário inserir uma abreviação.
    </mat-error>

    <mat-error *ngIf="novoCCForm.get('Abreviacao').hasError('pattern')" >
      A abreviação deve ter apenas 3 letras.
    </mat-error>

    <mat-hint> </mat-hint>
  </mat-form-field>

  </div>
  <mat-divider style="padding-bottom: 10px;"></mat-divider>
  <form focusNext [formGroup]="divCCForm">
    <div style="text-align: center;">
      <mat-form-field style="width: 45%;text-align: center;" class="form-field noselect">
        <mat-label>Divisão de Custo</mat-label>
        <input appUppercase class="noselect"  matInput formControlName="Div_CC" [errorStateMatcher]="errorMatcher"   >

        <mat-error *ngIf="divCCForm.get('Div_CC').hasError('required')" >
          É necessário inserir uma divisão de custo.
        </mat-error>

      </mat-form-field>

      <mat-form-field style="width: 45%;text-align: center;" class="form-field noselect">
        <mat-label>Descricão</mat-label>
        <input appUppercase class="noselect"  matInput formControlName="DescricaoDivCC" [errorStateMatcher]="errorMatcher"   >

        <mat-error *ngIf="divCCForm.get('DescricaoDivCC').hasError('required')" >
          É necessário inserir uma descrição.
        </mat-error>
      </mat-form-field>

      </div>
      <div class="button-row">
      <button mat-mini-fab color="primary" [disabled]="!divCCForm.valid" (click)="addDivCC()">
        <mat-icon >add</mat-icon>
      </button>
      </div>
  </form>
  <div class="header-padding">
    <div class="unselectable-line display-flex header-row" style=" align-items: center">

      <div class="el-tag--plain" style="width: 30%;">
        Abreviação
      </div>

      <div class="el-tag--plain" style="width: 60%;">
        Descrição
      </div>
    </div>
  </div>

  <cdk-virtual-scroll-viewport itemSize="56">
    <mat-list *cdkVirtualFor="let item of divCCAray, let i=index">
      <mat-list-item class="unselectable-line" style="align-items: center;">
          <div class="el-tag--plain" style="width: 30%;">
            {{item.Abreviacao}}
          </div>
          <div class="el-tag--plain" style="width: 60%;">
            {{item.Descricao}}
          </div>
          <button mat-icon-button color="grey" style="width: 10%;">
            <mat-icon >delete</mat-icon>
          </button>
      </mat-list-item>
    </mat-list>

   </cdk-virtual-scroll-viewport>

  <mat-divider></mat-divider>

<div class="button-row">
  <button mat-raised-button  (click)='onSubmit()' [disabled]="!novoCCForm.valid">Concluir</button>
  <button mat-raised-button   (click)='onCancel()' type="button">Limpar</button>
</div>


</form>
