.pgmt-div{
  border: 1px solid #d1e5ef;
  border-radius: 5px;
  background-color: rgba(242,249,252,1);
  padding-bottom: 7.5px;
  padding-top: 7.5px;
  width: 22.5%;
  justify-content: space-around;
  text-align: center;
}

.el-tag-pgmt-title{
  color: #187caf;
  font-size: 1.2vw;
}

.el-tag-pgmt-subtitle{
  color: #187caf;
  font-size: 0.8vw;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

cdk-virtual-scroll-viewport {
  border-radius: 4px;
  border: 1px solid #ebeef5;
  background-color: rgba(242,249,252,0.6);
  height: 74vh;

  li {
    height: 100px;
  }

  // Bonus points
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(60,145,188);
  }
}

mat-card{
  height: 8px;
  padding-top: 4px;
}

.pgmt-contrato-header {
  width: 9.1%;
}
