<form focusNext [formGroup]="novoContratoForm">

  <div *ngIf="preloaded" class="el-title" style="margin-bottom: 10px;">
    Editar um contrato
  </div>

  <div *ngIf="!preloaded" class="el-title" style="margin-bottom: 10px;">
    Novo contrato
  </div>

<div>
  <div class="formulario">
  <div style="width: 100%; text-align: center; justify-content: space-around; padding-top: 10px;">

    <mat-form-field style="width: 10%;" class="form-field">
      <mat-label>Identificação</mat-label>
      <input matInput formControlName="Identificacao" [errorStateMatcher]="errorMatcher">
      <mat-error *ngIf="novoContratoForm.get('Identificacao').hasError('required')" >
        É necessário inserir uma identificação.
      </mat-error>
      <mat-hint *ngIf="preloaded">Não é possível editar este campo.</mat-hint>
  </mat-form-field>

    <mat-form-field style="width: 13%;" class="form-field">
      <mat-label>Locatário</mat-label>
      <mat-select formControlName="Pessoa">
      <mat-option *ngFor="let locatario of Pessoa" [value]="locatario">
       {{ locatario.Nome }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="novoContratoForm.get('Pessoa').hasError('required')" >
      É necessário inserir um locatário.
    </mat-error>
  </mat-form-field>

    <mat-form-field  style="width: 18%;text-align: center;" class="form-field">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="Descricao" [errorStateMatcher]="errorMatcher">
      <mat-error *ngIf="novoContratoForm.get('Descricao').hasError('required')" >
        É necessário inserir uma descrição.
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 9%;" class="form-field">
      <mat-label>C.C.</mat-label>
      <mat-select formControlName="CC">
      <mat-option *ngFor="let cc of CC" [value]="cc" (click)="get_div_cc(cc.Nome)">
       {{ cc.Descricao }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="novoContratoForm.get('CC').hasError('required')" >
      É necessário inserir um de centro de custo.
    </mat-error>
  </mat-form-field>

  <mat-form-field  style="width: 9%;" class="form-field">
    <mat-label>Div. C.C.</mat-label>
    <mat-select formControlName="Div_CC">
    <mat-option *ngFor="let div_CC of div_CC" [value]="div_CC">
     {{ div_CC.Divisao }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="novoContratoForm.get('Div_CC').hasError('required')" >
    É necessário inserir uma divisão de centro de custo.
  </mat-error>
</mat-form-field>

    <mat-form-field style="width: 9%;" class="form-field">
      <mat-label>Data de Início</mat-label>
      <input matInput formControlName="Data_inicio" [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="novoContratoForm.get('Data_inicio').hasError('required')" >
        É necessário inserir uma data de início válida.
      </mat-error>
    </mat-form-field>


    <mat-form-field style="width: 9%;" class="form-field">
      <mat-label>Data de Término</mat-label>
      <input matInput formControlName="Data_termino" [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error *ngIf="novoContratoForm.get('Data_termino').hasError('required')" >
        É necessário inserir uma data de término válida.
      </mat-error>
    </mat-form-field>

    <mat-form-field  style="width: 5%;" class="form-field">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="Tipo">
        <mat-option *ngFor="let tipo of Tipo_despesa" [value]="tipo">
          {{ tipo.text }}
         </mat-option>
    </mat-select>
    <mat-error *ngIf="novoContratoForm.get('Tipo').hasError('required')" >
      É necessário escolher um tipo.
    </mat-error>
  </mat-form-field>

    <mat-form-field  style="width: 7%;text-align: center;" class="form-field">
      <mat-label>Valor</mat-label>
      <input matInput formControlName="Valor" [errorStateMatcher]="errorMatcher">
      <mat-error *ngIf="novoContratoForm.get('Valor').hasError('required')" >
        É necessário inserir um sobrenome.
      </mat-error>
    </mat-form-field>

  </div >

  <!-- PAGAMENTOS DE CONTRATO -->


  <!--  Separar em caixinhas 1,2,3,comissao -->
  <mat-divider></mat-divider>

  <div class="el-tag--plain" style="width: 100%; padding-top: 10px;font-weight: bolder;">
    Pagamentos programados
  </div>

  <form [formGroup]="contratosPgmtForm">

    <div style="width: 100%; text-align: center; padding-top: 10px;padding-bottom: 0px;">
      <mat-form-field style="width: 9%;text-align: center;">
        <mat-label>Data de Pagamento</mat-label>
        <input matInput formControlName="DataPgto" [matDatepicker]="picker3">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>

        <mat-error *ngIf="contratosPgmtForm.get('DataPgto').hasError('required')" >
          É necessário inserir uma data de pagamento válida.
        </mat-error>

      </mat-form-field>

      <mat-error *ngIf="dataPgmtError">
        Esta data de programação não pode se repetir.
      </mat-error>
    </div>

    <div style="width: 100%; justify-content: space-around;padding-bottom: 10px;" class="display-flex">

      <div class="pgmt-div">

        <!-- 1 -->

        <mat-form-field  style="width: 80%;text-align: center;" >
          <mat-label>Favorecido 1</mat-label>
          <mat-select formControlName="Fav1">
            <mat-option *ngFor="let favorecido of Favorecidos" [value]="favorecido">
             {{ favorecido }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="contratosPgmtForm.get('Fav1').hasError('required')" >
            É necessário selecionar o primeiro favorecido.
          </mat-error>
        </mat-form-field>

        <mat-form-field  style="width: 80%;text-align: center;" >
          <mat-label>Valor 1</mat-label>
          <input matInput formControlName="Valor1" [errorStateMatcher]="errorMatcher">
          <mat-error *ngIf="contratosPgmtForm.get('Valor1').hasError('required')" >
            É necessário inserir o valor do primeiro favorecido.
          </mat-error>
        </mat-form-field>


        <mat-form-field  style="width: 80%;text-align: center;">
          <mat-label>Valor Piscina</mat-label>
          <input matInput formControlName="ValorPiscina">
        </mat-form-field>

      </div>

      <div class="pgmt-div">

        <!-- 2 -->

        <mat-form-field  style="width: 80%;text-align: center;">
          <mat-label>Favorecido 2</mat-label>
          <mat-select formControlName="Fav2">
            <mat-option *ngFor="let favorecido of Favorecidos2" [value]="favorecido" (click)="checkDisableAttr($event, '2')">
             {{ favorecido }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field  style="width: 80%;text-align: center;">
          <mat-label>Valor 2</mat-label>
          <input matInput formControlName="Valor2">
        </mat-form-field>

      </div>

      <div class="pgmt-div">

        <!-- 3 -->

        <mat-form-field  style="width: 80%;text-align: center;">
          <mat-label>Favorecido 3</mat-label>
          <mat-select formControlName="Fav3">
            <mat-option *ngFor="let favorecido of Favorecidos2" [value]="favorecido" (click)="checkDisableAttr($event, '3')">
             {{ favorecido }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field  style="width: 80%;text-align: center;">
          <mat-label>Valor 3</mat-label>
          <input matInput formControlName="Valor3">
        </mat-form-field>

      </div>

      <div class="pgmt-div">

        <!-- comissao -->


        <mat-form-field  style="width: 80%;text-align: center;">
          <mat-label>Favorecido Comissão</mat-label>
          <mat-select formControlName="FavCom">
            <mat-option *ngFor="let favorecido of FavoricidosComissao" [value]="favorecido" (click)="checkDisableAttr($event, 'Com')">
              {{ favorecido}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field  style="width: 80%;text-align: center;">
          <mat-label>Valor Comissão</mat-label>
          <input matInput formControlName="ValorCom">
        </mat-form-field>

        <mat-form-field  style="width: 80%;text-align: center;">
          <mat-label>% Comissão</mat-label>
          <input matInput formControlName="PCom">
        </mat-form-field>

      </div>

    </div>

    <div class="button-row">
      <button mat-raised-button color="primary" (click)='inserirPgmt()' [disabled]="loading ||!contratosPgmtForm.valid || !novoContratoForm.controls.Identificacao.value">Inserir</button>
      <button mat-raised-button   (click)='onResetPgmts()' type="button">Limpar</button>
    </div>

  </form>

  <mat-divider></mat-divider>

  <div class="el-tag-pgmt-subtitle">

    <div class="unselectable-line display-flex header-row" style=" align-items: center">

      <div class="el-tag" class="pgmt-contrato-header" style="padding-left: 16px;">
        Data Pgmt
      </div>

      <div class="el-tag" class="pgmt-contrato-header">
        Favorecido 1
      </div>

      <div class="el-tag" class="pgmt-contrato-header">
        Valor 1
      </div>

      <div class="el-tag" class="pgmt-contrato-header">
        Valor Piscina
      </div>

      <div class="el-tag" class="pgmt-contrato-header">
        Favorecido 2
      </div>

      <div class="el-tag" class="pgmt-contrato-header">
        Valor 2
      </div>

      <div class="el-tag" class="pgmt-contrato-header">
        Favorecido 3
      </div>

      <div class="el-tag" class="pgmt-contrato-header">
        Valor 3
      </div>

      <div class="el-tag" class="pgmt-contrato-header">
        Fav. Comissão
      </div>

      <div class="el-tag" class="pgmt-contrato-header">
        Valor Comissão
      </div>

      <div class="el-tag" class="pgmt-contrato-header" style="padding-right: 16px;">
        % Comissão
      </div>

    </div>

  </div>

  <cdk-virtual-scroll-viewport itemSize="36" style="height: 144px">

      <mat-list  *cdkVirtualFor="let pgmt of pagamentosContratos; let i=index" >
        <mat-card style="text-align: center;" (contextmenu)="onContextMenu($event, pgmt, i)">
          <mat-card-content class="el-tag--plain unselectable-line" style="display: flex;width: 100%;">

            <div class="pgmt-contrato-header">
              {{pgmt.DataPgto | amLocal | amDateFormat: 'DD/MM/YYYY'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.Fav1}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.Valor1 | currency:'BRL'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.ValorPiscina | currency:'BRL'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.Fav2 || '-'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.Valor2 | currency:'BRL'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.Fav3 || '-'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.Valor3 | currency:'BRL'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.FavCom || '-'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.ValorCom | currency:'BRL' }}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.PCom}}
            </div>

          </mat-card-content>
        </mat-card>
    </mat-list>

    <div *ngIf="pagamentosContratos.length == 0" style="width: 100%;height: 72px;padding-top: 62px; text-align: center;" class="el-tag-pgmt-title">As programações de pagamento aparecerão aqui.</div>
  </cdk-virtual-scroll-viewport>

  <div class="el-tag--plain" style="width: 100%; padding-top: 10px; display: flex; align-self: auto;">
    <div style="flex: 0.5;">
      Total Valores: {{totalValor | currency:'BRL'}}
    </div>
    <div style="flex: 0.5;">
      Total Piscina: {{totalPiscina | currency:'BRL'}}
    </div>

  </div>
</div>




  <div *ngIf="error" style="width: 100%;text-align: center; ">
    <mat-error>{{error | errorMessage }} </mat-error>
  </div>
</div>
<div class="button-row">
  <button mat-raised-button color="primary" *ngIf="!loading" (click)='onSubmit()' [disabled]="!novoContratoForm.valid">Concluir</button>
  <button *ngIf="loading" mat-raised-button color="primary" disabled style="width: 84px;"> <div class="button-spinner"><mat-spinner ></mat-spinner></div></button>
  <button mat-raised-button   (click)='onCancel()' type="button">Cancelar</button>
</div>


</form>

<div style="visibility: hidden; position: fixed"
[style.left]="contextMenuPosition.x"
[style.top]="contextMenuPosition.y"
[matMenuTriggerFor]="contextMenu"
#contextMenuTrigger="matMenuTrigger">
  </div>
<mat-menu #contextMenu="matMenu" >
  <ng-template matMenuContent let-item="item" let-index = "index">
    <button mat-menu-item (click)="editLine(index)">Editar</button>
    <button mat-menu-item (click)="deleteLine(index)">Deletar</button>
  </ng-template>
</mat-menu>
