.pgmt-div{
  border: 1px solid #d1e5ef;
  border-radius: 5px;
  background-color: rgba(242,249,252,1);
  padding-bottom: 7.5px;
  padding-top: 7.5px;
  width: 22.5%;
  justify-content: space-around;
  text-align: center;
}

.el-tag-pgmt-title{
  border-color: #a3cbdf;
  color: #187caf;
  font-size: 1.1vw;
}
