<form focusNext [formGroup]="novoContratoForm">

  <div *ngIf="preloaded" class="el-title" style="margin-bottom: 10px;">
    Editar um contrato
  </div>

  <div *ngIf="!preloaded" class="el-title" style="margin-bottom: 10px;">
    Novo contrato
  </div>

<div>
  <div class="formulario">
  <div style="width: 100%; text-align: center; justify-content: space-around; padding-top: 10px;">

    <mat-form-field style="width: 25%;" class="form-field">
      <mat-label>Identificação</mat-label>
      <input matInput formControlName="Identificacao" [errorStateMatcher]="errorMatcher">
      <mat-error *ngIf="novoContratoForm.get('Identificacao').hasError('required')" >
        É necessário inserir uma identificação.
      </mat-error>
  </mat-form-field>

    <mat-form-field style="width: 25%;" class="form-field">
      <mat-label>Locatário</mat-label>
      <mat-select formControlName="Pessoa">
      <mat-option *ngFor="let locatario of Pessoa" [value]="locatario">
       {{ locatario.Nome }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="novoContratoForm.get('Pessoa').hasError('required')" >
      É necessário inserir um locatário.
    </mat-error>
  </mat-form-field>

    <mat-form-field  style="width: 40%;text-align: center;" class="form-field">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="Descricao" [errorStateMatcher]="errorMatcher">
      <mat-error *ngIf="novoContratoForm.get('Descricao').hasError('required')" >
        É necessário inserir uma descrição.
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 20%;" class="form-field">
      <mat-label>Data de Início</mat-label>
      <input matInput formControlName="Data_inicio" [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="novoContratoForm.get('Data_inicio').hasError('required')" >
        É necessário inserir uma data de início válida.
      </mat-error>
    </mat-form-field>


    <mat-form-field style="width: 20%;" class="form-field">
      <mat-label>Data de Término</mat-label>
      <input matInput formControlName="Data_termino" [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error *ngIf="novoContratoForm.get('Data_termino').hasError('required')" >
        É necessário inserir uma data de término válida.
      </mat-error>
    </mat-form-field>

    <mat-form-field  style="width: 20%;" class="form-field">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="Tipo">
        <mat-option *ngFor="let tipo of Tipos" [value]="tipo">
          {{ tipo }}
         </mat-option>
    </mat-select>
    <mat-error *ngIf="novoContratoForm.get('Tipo').hasError('required')" >
      É necessário escolher um tipo.
    </mat-error>
  </mat-form-field>

    <mat-form-field  style="width: 25%;text-align: center;" class="form-field">
      <mat-label>Valor</mat-label>
      <input matInput formControlName="Valor" [errorStateMatcher]="errorMatcher">
      <mat-error *ngIf="novoContratoForm.get('Valor').hasError('required')" >
        É necessário inserir um sobrenome.
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 45%;" class="form-field">
      <mat-label>Centro de Custo</mat-label>
      <mat-select formControlName="CC">
      <mat-option *ngFor="let cc of CC" [value]="cc" (click)="get_div_cc(cc.Nome)">
       {{ cc.Descricao }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="novoContratoForm.get('CC').hasError('required')" >
      É necessário inserir um de centro de custo.
    </mat-error>
  </mat-form-field>

  <mat-form-field  style="width: 45%;" class="form-field">
    <mat-label>Divisão Centro de Custo</mat-label>
    <mat-select formControlName="Div_CC">
    <mat-option *ngFor="let div_CC of div_CC" [value]="div_CC">
     {{ div_CC.Divisao }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="novoContratoForm.get('Div_CC').hasError('required')" >
    É necessário inserir uma divisão de centro de custo.
  </mat-error>
</mat-form-field>

  </div >

  <!-- PAGAMENTOS DE CONTRATO -->


  <!--  Separar em caixinhas 1,2,3,comissao -->
  <mat-divider></mat-divider>

  <div class="el-tag--plain" style="width: 100%; padding-top: 10px;">
    Pagamentos programados
  </div>

  <form [formGroup]="contratosPgmtForm">

    <div style="width: 100%; text-align: center; padding-top: 10px;">
      <mat-form-field style="width: 20%;text-align: center;">
        <mat-label>Data de Pagamento</mat-label>
        <input matInput formControlName="DataPgto" [matDatepicker]="picker3">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
        <mat-error *ngIf="contratosPgmtForm.get('DataPgto').hasError('required')" >
          É necessário inserir uma data de pagamento válida.
        </mat-error>
      </mat-form-field>
    </div>

    <div style="width: 100%; justify-content: space-around;" class="display-flex">

      <div class="pgmt-div">

        <!-- 1 -->

        <mat-form-field  style="width: 80%;text-align: center;" >
          <mat-label>Favorecido 1</mat-label>
          <mat-select formControlName="Fav1">
            <mat-option *ngFor="let favorecido of Favorecidos" [value]="favorecido">
             {{ favorecido }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="contratosPgmtForm.get('Fav1').hasError('required')" >
            É necessário selecionar o primeiro favorecido.
          </mat-error>
        </mat-form-field>

        <mat-form-field  style="width: 80%;text-align: center;" >
          <mat-label>Valor 1</mat-label>
          <input matInput formControlName="Valor1" [errorStateMatcher]="errorMatcher">
          <mat-error *ngIf="contratosPgmtForm.get('Valor1').hasError('required')" >
            É necessário inserir o valor do primeiro favorecido.
          </mat-error>
        </mat-form-field>


        <mat-form-field  style="width: 80%;text-align: center;">
          <mat-label>Valor Piscina</mat-label>
          <input matInput formControlName="ValorPiscina">
        </mat-form-field>

      </div>

      <div class="pgmt-div">

        <!-- 2 -->

        <mat-form-field  style="width: 80%;text-align: center;">
          <mat-label>Favorecido 2</mat-label>
          <mat-select formControlName="Fav2">
            <mat-option *ngFor="let favorecido of Favorecidos" [value]="favorecido">
             {{ favorecido }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field  style="width: 80%;text-align: center;">
          <mat-label>Valor 2</mat-label>
          <input matInput formControlName="Valor2">
        </mat-form-field>

      </div>

      <div class="pgmt-div">

        <!-- 3 -->

        <mat-form-field  style="width: 80%;text-align: center;">
          <mat-label>Favorecido 3</mat-label>
          <mat-select formControlName="Fav3">
            <mat-option *ngFor="let favorecido of Favorecidos" [value]="favorecido">
             {{ favorecido }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field  style="width: 80%;text-align: center;">
          <mat-label>Valor 3</mat-label>
          <input matInput formControlName="Valor3">
        </mat-form-field>

      </div>

      <div class="pgmt-div">

        <!-- comissao -->


        <mat-form-field  style="width: 80%;text-align: center;">
          <mat-label>Favorecido Comissão</mat-label>
          <mat-select formControlName="FavCom">
            <mat-option disabled value="Marcia">Marcia
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field  style="width: 80%;text-align: center;">
          <mat-label>Valor Comissão</mat-label>
          <input matInput formControlName="ValorCom">
        </mat-form-field>

        <mat-form-field  style="width: 80%;text-align: center;">
          <mat-label>% Comissão</mat-label>
          <input matInput formControlName="PCom">
        </mat-form-field>

      </div>

    </div>
  </form>

</div>

  <div *ngIf="error" style="width: 100%;text-align: center; ">
    <mat-error>{{error | errorMessage }} </mat-error>
  </div>
</div>
<div class="button-row">
  <button mat-raised-button *ngIf="!loading" (click)='onSubmit()' [disabled]="!novoContratoForm.valid">Concluir</button>
  <button *ngIf="loading" mat-raised-button color="primary" disabled style="width: 84px;"> <div class="button-spinner"><mat-spinner ></mat-spinner></div></button>
  <button mat-raised-button   (click)='onCancel()' type="button">Cancelar</button>
</div>


</form>
