<form focusNext [formGroup]="novoContratoForm">

  <div class="el-title" style="margin-bottom: 10px;">
    Visualizar um contrato
  </div>

<div>
  <div class="formulario">
  <div style="width: 100%; text-align: center; justify-content: space-around; padding-top: 10px;">

    <mat-form-field *ngIf="Identificacao.length" style="width: 20%;" class="form-field">
      <mat-label>Identificação</mat-label>
      <input matInput formControlName="Identificacao">
  </mat-form-field>

  <!-- IN CASE THE VIEW NEEDS USER INPUT -->

  <mat-form-field (click)="initFilter();novoContratoForm.controls.Identificacao.setValue('')" *ngIf="!Identificacao.length" class="example-full-width" style="text-align: center;">
    <mat-label>Identificação de Contrato</mat-label>
    <input type="text"
           placeholder="Pesquisar..."
           aria-label="Identificacao"
           matInput
           [formControl]="novoContratoForm.controls.Identificacao"
           [matAutocomplete]="auto">
    <mat-autocomplete
      autoActiveFirstOption #auto="matAutocomplete">
      <mat-option (click)="getData(option)" (submit)="getData(option)" *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- END -->

    <mat-form-field style="width: 26%;" class="form-field">
      <mat-label>Locatário</mat-label>
      <input matInput formControlName="Pessoa">
  </mat-form-field>

    <mat-form-field  style="width: 44%;" class="form-field">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="Descricao">
    </mat-form-field>

    <mat-form-field style="width: 18%;" class="form-field">
      <mat-label>C.C.</mat-label>
      <input matInput formControlName="CC">
  </mat-form-field>

  <mat-form-field  style="width: 18%;" class="form-field">
    <mat-label>Div. C.C.</mat-label>
    <input matInput formControlName="Div_CC">
</mat-form-field>

    <mat-form-field style="width: 10%;" class="form-field">
      <mat-label>Data de Início</mat-label>
      <input matInput formControlName="Data_inicio" [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>


    <mat-form-field style="width: 10%;" class="form-field">
      <mat-label>Data de Término</mat-label>
      <input matInput formControlName="Data_termino" [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field  style="width: 10%;" class="form-field">
      <mat-label>Tipo</mat-label>
      <input matInput formControlName="Tipo">
  </mat-form-field>

    <mat-form-field  style="width: 14%;" class="form-field">
      <mat-label>Valor</mat-label>
      <input matInput formControlName="Valor">
    </mat-form-field>

  </div >

  <!-- PAGAMENTOS DE CONTRATO -->


  <!--  Separar em caixinhas 1,2,3,comissao -->
  <mat-divider></mat-divider>

  <div class="el-tag--plain" style="width: 100%;font-weight: bolder;">
    Pagamentos programados
  </div>

  <mat-divider></mat-divider>

  <div class="el-tag-pgmt-subtitle">

    <div class="unselectable-line display-flex header-row" style=" align-items: center; padding-left: 16px; padding-right: 16px;">

      <div style="width: 3%;">
          <mat-checkbox
          [disabled]="!pagamentosContratos.length"
          [checked]="allComplete"
          [color]="mainCheckBox.color"
          [indeterminate]="someComplete()"
          (change)="setAll($event.checked)">
          </mat-checkbox>
      </div>

      <div class="el-tag pgmt-contrato-header">
        Data Pgmt
      </div>

      <div class="el-tag pgmt-contrato-header">
        Favorecido 1
      </div>

      <div class="el-tag pgmt-contrato-header">
        Valor 1
      </div>

      <div class="el-tag pgmt-contrato-header">
        Valor Piscina
      </div>

      <div class="el-tag pgmt-contrato-header">
        Favorecido 2
      </div>

      <div class="el-tag pgmt-contrato-header">
        Valor 2
      </div>

      <div class="el-tag pgmt-contrato-header">
        Favorecido 3
      </div>

      <div class="el-tag pgmt-contrato-header">
        Valor 3
      </div>

      <div class="el-tag pgmt-contrato-header">
        Fav. Comissão
      </div>

      <div class="el-tag pgmt-contrato-header">
        Valor Comissão
      </div>

      <div class="el-tag pgmt-contrato-header">
        % Comissão
      </div>

    </div>

  <cdk-virtual-scroll-viewport itemSize="36" style="height: 144px">
    <div *ngIf="pagamentosContratos.length > 0">
      <mat-list  *cdkVirtualFor="let pgmt of pagamentosContratos" >
        <mat-card  style="text-align: center;">
          <mat-card-content class="el-tag--plain unselectable-line" style="display: flex;width: 100%;">

            <div style="width: 3%; margin-right: 5px;">
              <mat-checkbox [checked]="pgmt.checkbox.completed"
              [color]="pgmt.checkbox.color"
              (change)="updateAllComplete(pgmt, $event.checked)">
              </mat-checkbox>
          </div>

            <div class="pgmt-contrato-header">
              {{pgmt.DataPgto | amLocal | amDateFormat: 'DD/MM/YYYY'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.Fav1}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.Valor1 | currency:'BRL'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.ValorPiscina | currency:'BRL'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.Fav2 || '-'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.Valor2 | currency:'BRL'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.Fav3 || '-'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.Valor3 | currency:'BRL'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.FavCom || '-'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.ValorCom | currency:'BRL'}}
            </div>

            <div class="pgmt-contrato-header">
              {{pgmt.PCom}}
            </div>

          </mat-card-content>
        </mat-card>
    </mat-list>
    </div>
    <div *ngIf="pagamentosContratos.length == 0" style="width: 100%;height: 72px;padding-top: 62px; text-align: center;" class="el-tag-pgmt-title">As programações de pagamento aparecerão aqui.</div>
  </cdk-virtual-scroll-viewport>

  <div class="el-tag--plain totalValores">
    <div style="flex: 0.5;">
      Total Valores: {{totalValor | currency:'BRL'}}
    </div>
    <div style="flex: 0.5;">
      Total Piscina: {{totalPiscina | currency:'BRL'}}
    </div>

  </div>

</div>

<!-- VISUALIZAÇÃO LANÇAMENTO X CONTRATOS -->

<mat-divider></mat-divider>

<div class="el-tag--plain" style="width: 100%;font-weight: bolder;">
  Lançamentos X Contratos
</div>

<mat-divider></mat-divider>

<div class="el-tag-pgmt-subtitle">

  <div class="unselectable-line display-flex header-row" style=" align-items: center; padding-left: 16px;padding-right: 16px;">

    <div class="el-tag" style="width: 5%">
      Tipo
    </div>

    <div class="el-tag" style="width: 10%">
      Data de Pagamento
    </div>

    <div class="el-tag" style="width: 20%">
      Locatário
    </div>

    <div class="el-tag" style="width: 25%">
      Descrição
    </div>

    <div class="el-tag" style="width: 10%">
      Responsável
    </div>

    <div class="el-tag" style="width: 10%">
      Data de Entrada
    </div>

    <div class="el-tag" style="width: 10%">
      Data de Vencimento
    </div>

    <div class="el-tag" style="width: 10%; ">
      Valor
    </div>

  </div>

<cdk-virtual-scroll-viewport itemSize="36" style="height: 144px">
  <div>
    <mat-list  *cdkVirtualFor="let lxc of lanxcon" >
      <mat-card style="text-align: center;">
        <mat-card-content class="el-tag--plain unselectable-line" style="display: flex;width: 100%;">

          <div style="width: 5%">
            <span *ngIf="lxc.Tipo == 0 || lxc.Tipo == 3" class="dot green"></span>
            <span *ngIf="lxc.Tipo == 1 || lxc.Tipo == 4" class="dot red"></span>
            <span *ngIf="lxc.Tipo == 2" class="dot yellow"></span>
          </div>

          <div *ngIf="lxc.DataPgto" style="width: 10%">
            {{lxc.DataPgto | amLocal | amDateFormat: 'DD/MM/YYYY'}}
          </div>
          <div *ngIf="!lxc.DataPgto" style="width: 10%"></div>

          <div style="width: 20%">
            {{lxc.Pessoa}}
          </div>

          <div style="width: 25%">
            {{lxc.Descricao}}
          </div>

          <div style="width: 10%">
            {{lxc.Responsavel}}
          </div>

          <div *ngIf="lxc.Data_Entrada" style="width: 10%">
            {{lxc.Data_Entrada | amLocal | amDateFormat: 'DD/MM/YYYY'}}
          </div>
          <div *ngIf="!lxc.Data_Entrada" style="width: 10%"></div>

          <div *ngIf="lxc.Vencimento" style="width: 10%">
            {{lxc.Vencimento | amLocal | amDateFormat: 'DD/MM/YYYY'}}
          </div>
          <div *ngIf="!lxc.Vencimento" style="width: 10%"></div>

          <div style="width: 10%">
            {{lxc.Valor | currency:'BRL'}}
          </div>

        </mat-card-content>
      </mat-card>
  </mat-list>
  </div>
  <div *ngIf="lanxcon.length == 0" style="width: 100%;height: 72px;padding-top: 62px; text-align: center;" class="el-tag-pgmt-title">Os lançamentos referentes ao contrato selecionado aparecerão aqui.</div>
</cdk-virtual-scroll-viewport>

<div class="el-tag--plain totalValores">
  <div style="flex: 1;">
      Total lançamentos: {{totalLancamentos | currency:'BRL'}}

  </div>

</div>

</div>

<div class="button-row">
<button mat-raised-button   (click)='onCancel()' type="button">Voltar</button>
</div>
