<div class="content-fluid" role="main">

  <div>

    <div class="leftmost">
      <div class="header-padding">
        <div class="unselectable-line display-flex header-row" style=" align-items: center" (click)="textFilters.setValue('');textFilters.clearValidators();">

          <div class="el-tag--plain el-col-2">
            Tipo
          <button *ngIf="state==1" [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Tipo', 'class_msg':sortMessages.forType }" class="small-icon-button position-absolute" mat-icon-button >
              <mat-icon color="darker-primary" *ngIf="!activeSorts.Tipo.active && !activeFilters.Tipo">arrow_drop_down</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Tipo">filter_alt</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Tipo.active && activeFilters.Tipo" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Tipo.dir}}</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Tipo.active && !activeFilters.Tipo">{{activeSorts.Tipo.dir}}</mat-icon>
            </button>
            <button *ngIf="state==2" [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Tipo', 'class_msg':sortMessages.forType2 }" class="small-icon-button position-absolute" mat-icon-button >
              <mat-icon color="darker-primary" *ngIf="!activeSorts.Tipo.active && !activeFilters.Tipo">arrow_drop_down</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Tipo">filter_alt</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Tipo.active && activeFilters.Tipo" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Tipo.dir}}</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Tipo.active && !activeFilters.Tipo">{{activeSorts.Tipo.dir}}</mat-icon>
            </button>
          </div>

          <div class="el-tag--plain el-col-3">
            Datas
            <button [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Data_Entrada', 'class_msg':sortMessages.forDates }" class="small-icon-button position-absolute" mat-icon-button >
              <mat-icon color="darker-primary" *ngIf="!activeSorts.Data_Entrada.active && !activeFilters.Data_Entrada">arrow_drop_down</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Data_Entrada">filter_alt</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Data_Entrada.active && activeFilters.Data_Entrada" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Data_Entrada.dir}}</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Data_Entrada.active && !activeFilters.Data_Entrada">{{activeSorts.Data_Entrada.dir}}</mat-icon>
            </button>

          </div>

          <div class="el-tag--plain el-col-4" >
            Descrição
            <button [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Descricao' , 'class_msg': sortMessages.forText }" class="small-icon-button position-absolute" mat-icon-button >
              <mat-icon color="darker-primary" *ngIf="!activeSorts.Descricao.active && !activeFilters.Descricao">arrow_drop_down</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Descricao">filter_alt</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Descricao.active && activeFilters.Descricao" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Descricao.dir}}</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Descricao.active && !activeFilters.Descricao">{{activeSorts.Descricao.dir}}</mat-icon>
            </button>
          </div>

          <div class="el-tag--plain el-col-3">
            Valor
            <button [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Valor', 'class_msg':sortMessages.forNumber }" class="small-icon-button position-absolute" mat-icon-button >
              <mat-icon color="darker-primary" *ngIf="!activeSorts.Valor.active && !activeFilters.Valor">arrow_drop_down</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Valor">filter_alt</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Valor.active && activeFilters.Valor" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Valor.dir}}</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Valor.active && !activeFilters.Valor">{{activeSorts.Valor.dir}}</mat-icon>
            </button>
          </div>

          <div class="el-tag--plain el-col-1">
            C.C.
            <button [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'CC', 'class_msg':sortMessages.forText }" class="small-icon-button position-absolute" mat-icon-button >
              <mat-icon color="darker-primary" *ngIf="!activeSorts.CC.active && !activeFilters.CC">arrow_drop_down</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.CC">filter_alt</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.CC.active && activeFilters.CC" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.CC.dir}}</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.CC.active && !activeFilters.CC">{{activeSorts.CC.dir}}</mat-icon>
            </button>
          </div>

          <div class="el-tag--plain el-col-3">
            Div. C.C
            <button [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Div_CC', 'class_msg':sortMessages.forText }" class="small-icon-button position-absolute" mat-icon-button >
              <mat-icon color="darker-primary" *ngIf="!activeSorts.Div_CC.active && !activeFilters.Div_CC">arrow_drop_down</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Div_CC">filter_alt</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Div_CC.active && activeFilters.Div_CC" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Div_CC.dir}}</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Div_CC.active && !activeFilters.Div_CC">{{activeSorts.Div_CC.dir}}</mat-icon>
            </button>
          </div >

          <div class="el-tag--plain el-col-3">
            Vencimento
            <button [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Vencimento', 'class_msg':sortMessages.forExpire }" class="small-icon-button position-absolute" mat-icon-button >
              <mat-icon color="darker-primary" *ngIf="!activeSorts.Vencimento.active && !activeFilters.Vencimento">arrow_drop_down</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Vencimento">filter_alt</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Vencimento.active && activeFilters.Vencimento" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Vencimento.dir}}</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Vencimento.active && !activeFilters.Vencimento">{{activeSorts.Vencimento.dir}}</mat-icon>
            </button>
          </div>

          <div class="el-tag--plain el-col-3">
            Pessoa
            <button [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Pessoa', 'class_msg':sortMessages.forText }" class="small-icon-button position-absolute" mat-icon-button >
              <mat-icon color="darker-primary" *ngIf="!activeSorts.Pessoa.active && !activeFilters.Pessoa">arrow_drop_down</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Pessoa">filter_alt</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Pessoa.active && activeFilters.Pessoa" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Pessoa.dir}}</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Pessoa.active && !activeFilters.Pessoa">{{activeSorts.Pessoa.dir}}</mat-icon>
            </button>
          </div>

          <div class="el-tag--plain el-col-2">
            Resp.
            <button [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Responsavel', 'class_msg':sortMessages.forText }" class="small-icon-button position-absolute" mat-icon-button >
              <mat-icon color="darker-primary" *ngIf="!activeSorts.Responsavel.active && !activeFilters.Responsavel">arrow_drop_down</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Responsavel">filter_alt</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Responsavel.active && activeFilters.Responsavel" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Responsavel.dir}}</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Responsavel.active && !activeFilters.Responsavel">{{activeSorts.Responsavel.dir}}</mat-icon>
            </button>
          </div>

          <div class="el-tag--plain el-col-3">
            Contrato
            <button [matMenuTriggerFor]="dropdown_menu" [matMenuTriggerData]="{ 'column': 'Contrato', 'class_msg':sortMessages.forText }" class="small-icon-button position-absolute" mat-icon-button >
              <mat-icon color="darker-primary" *ngIf="!activeSorts.Contrato.active && !activeFilters.Contrato">arrow_drop_down</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeFilters.Contrato">filter_alt</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Contrato.active && activeFilters.Contrato" style="font-size: 15px; margin-left: -15px; line-height: 35px;">{{activeSorts.Contrato.dir}}</mat-icon>
              <mat-icon color="darker-primary" style="font-size: 18px" *ngIf="activeSorts.Contrato.active && !activeFilters.Contrato">{{activeSorts.Contrato.dir}}</mat-icon>
            </button>
          </div>

          <div class="el-tag--plain el-col-1">
            Obs
          </div>

        </div>
      </div>


      <cdk-virtual-scroll-viewport *ngIf="!cdk_empty && !loading; else elseBlock" itemSize="96">

        <div style="height: 96px;" *cdkVirtualFor="let Entrada of Entradas, let i=index"  >

          <mat-card style="height: 54px;" (contextmenu)="onContextMenu($event, Entrada, i)">
            <mat-card-content>
              <div *ngIf="Entrada.Imposto" class="unselectable-line imposto">
                C/ IMPOSTO
              </div>
              <div *ngIf="Entrada.Tipo_despesa == 'F'" class="unselectable-line imposto">
                FIXA
              </div>
              <div *ngIf="Entrada.Tipo_despesa == 'V'" class="unselectable-line imposto">
                VARIÁVEL
              </div>
              <div class="unselectable-line display-flex" style=" align-items: center;height: 54px;">
                <div class="el-tag--plain el-col-2">
                    <button *ngIf="Entrada.Tipo == 1" mat-mini-fab color="warn">
                      <mat-icon >remove</mat-icon>
                    </button>
                  <button *ngIf="Entrada.Tipo == 0" mat-mini-fab color="success">
                    <mat-icon >add</mat-icon>
                  </button>
                  <button *ngIf="Entrada.Tipo == 2" mat-mini-fab color="accent" style="color: white;">
                    <mat-icon >show_chart</mat-icon>
                  </button>
                  <span *ngIf="Entrada.Tipo == 2 && Entrada.N_Invest != '0'"  class="dot blue absolute">
                    {{Entrada.N_Invest}}
                  </span>

                  <button *ngIf="Entrada.Tipo == 3  && !Entrada.Concluido" mat-mini-fab color="success">
                    <mat-icon >arrow_downward</mat-icon>
                  </button>

                  <button *ngIf="Entrada.Tipo == 4 && !Entrada.Concluido" mat-mini-fab color="warn">
                    <mat-icon >arrow_upward</mat-icon>
                  </button>

                </div>

                <div class="el-tag--plain el-col-3" style="align-items: center;">
                  <div style="font-size: 0.7vw;display:flex;justify-content: center;">
                    <mat-icon style="font-size: 20px;">today</mat-icon>
                    {{ Entrada.Data_Entrada | amLocal | amDateFormat: 'DD/MM/YYYY' }}</div>
                  <div style="font-size: 0.7vw;display:flex;justify-content: center;">
                    <mat-icon style="font-size: 20px;">hourglass_bottom</mat-icon>
                    {{ Entrada.Vencimento | amLocal | amDateFormat: 'DD/MM/YYYY' }}</div>
                </div>

                <div class="el-tag--plain el-col-4">
                  {{Entrada.Descricao}}
                </div>

                <div class="el-tag--plain el-col-3">
                  {{ Entrada.Valor | currency:'BRL'}}
                </div>

                <div class="el-tag--plain el-col-1">
                  {{Entrada.CC}}
                </div>


                <div class="el-tag--plain el-col-3">
                  {{Entrada.Div_CC}}
                </div >

                <div class="el-tag--plain el-col-3">
                  <div *ngIf="today > Entrada.Vencimento">
                    Há {{today| amDifference: Entrada.Vencimento :'days' : false}} dias
                  </div>
                  <div *ngIf="today < Entrada.Vencimento">
                    Em {{Entrada.Vencimento | amDifference: today :'days' : false}} dias
                  </div>
                  <div *ngIf="today === Entrada.Vencimento">
                    Hoje
                  </div>
                </div>

                <div class="el-tag--plain el-col-3">
                  {{Entrada.Pessoa}}
                </div>

                <div class="el-tag--plain el-col-2">
                  {{Entrada.Responsavel}}
                </div>

                <div class="el-tag--plain el-col-3" style="align-items: center;">
                  <div *ngIf="Entrada.Contrato" style="font-size: 0.7vw;display:flex;justify-content: center;">
                    <mat-icon style="font-size: 20px;">work</mat-icon>
                     {{ Entrada.Contrato}}</div>
                  <div *ngIf="Entrada.DataPgtoContrato" style="font-size: 0.7vw;display:flex;justify-content: center;">
                    <mat-icon style="font-size: 20px;">today</mat-icon>
                    {{ Entrada.DataPgtoContrato | amLocal | amDateFormat: 'DD/MM/YYYY'}}</div>
                </div>

                <div class="el-tag--plain el-col-1">
                <button *ngIf="Entrada.Observacao; else elseBlockOBS" disabled mat-icon-button style="color: black;">
                  <mat-icon  matTooltip="{{Entrada.Observacao}}">info</mat-icon>
                </button>

                <ng-template #elseBlockOBS>
                  <button disabled mat-icon-button>
                    <mat-icon>info</mat-icon>
                  </button>
                </ng-template>
              </div>

              </div>

            </mat-card-content>

          </mat-card>
        </div>

      </cdk-virtual-scroll-viewport>

      <span *ngIf="!loading" class="footer-row">
        <span><button style=" margin-top: 20px;" (click)="clearAllFilters()" mat-raised-button color="warn" type="button"><mat-icon style="font-size: 20px;">delete</mat-icon>Excluir todos os filtros</button></span>
        <div style="margin: auto 0; justify-self: center; width: 70%;display: flex; justify-content: space-evenly;">
          <span *ngIf="state === 1">
            <button  class="mdb-30" mat-mini-fab color="success">
              <mat-icon >add</mat-icon>
            </button>
            <span style="font-size: 22px;color: rgb(0,128,0); font-weight: bolder; margin-top: 15px;">{{totalReceitas | currency:'BRL'}}</span>
          </span>

          <span *ngIf="state === 1">
            <button  class="mdb-30" mat-mini-fab color="warn">
              <mat-icon >remove</mat-icon>
            </button>
            <span style="font-size: 22px;color: rgb(244,67,54); font-weight: bolder; margin-top: 15px;">{{ totalDespesas | currency:'BRL'}}</span>

          </span>

          <span *ngIf="state === 1">
            <button  class="mdb-30" mat-mini-fab color="accent" style="color: white;">
              <mat-icon >show_chart</mat-icon>
            </button>
            <span style="font-size: 22px;color: rgb(255,215,64); font-weight: bolder; margin-top: 15px;">{{ totalInvestimentos | currency:'BRL'}}</span>
          </span>
        </div>
      </span>


      <ng-template #elseBlock>
        <cdk-virtual-scroll-viewport itemSize="94">
          <div *ngIf="!loading" style="padding-top: 20px; display: flex;
          justify-content: center;
          align-items: center;">
            <mat-card class="empty-results-disclaimer">
              <mat-card-content style="font-size: 1.1vw;">Nada para mostrar</mat-card-content>
            </mat-card>
          </div>
          <div *ngIf="loading" style="text-align: center;">
            <mat-spinner class="loading-indicator"></mat-spinner>
            <div>Carregando...</div>
          </div>
        </cdk-virtual-scroll-viewport>
      </ng-template>

      <!-- FILTRAR E CLASSIFICAR -->

      <div style="visibility: hidden; position: fixed"
      [style.left]="contextMenuPosition.x"
      [style.top]="contextMenuPosition.y"
      [matMenuTriggerFor]="contextMenu"
      #contextMenuTrigger="matMenuTrigger">
       </div>
      <mat-menu #contextMenu="matMenu" >
        <ng-template matMenuContent let-item="item" let-index = "index">
          <button mat-menu-item (click)="editLine(index)">Editar</button>
          <button mat-menu-item (click)="deleteLine(item,index)">Deletar</button>
        </ng-template>
      </mat-menu>


      <mat-menu #dropdown_menu="matMenu">
        <ng-template  matMenuContent let-column="column" let-class_msg="class_msg">
        <button [matMenuTriggerData]="{ 'values': this.filterValues , 'column' : column}" [matMenuTriggerFor]="filtrar" mat-menu-item>
          <mat-icon>filter_alt</mat-icon>
          Filtrar
        </button>
        <button [matMenuTriggerData]="{ 'column': column, 'class_msg' : class_msg }" [matMenuTriggerFor]="classificar" mat-menu-item>
          <mat-icon>sort</mat-icon>
          Classificar
        </button>
        <button *ngIf="activeFilters[column]" mat-menu-item (click)="clearFilter(column)">
          <mat-icon>clear</mat-icon>
          Excluir filtro
        </button>
      </ng-template>
      </mat-menu>

      <mat-menu #filtrar="matMenu">
        <ng-template  matMenuContent let-values="values" let-column="column" let-class_msg="class_msg">

            <div *ngIf="column === 'Data_Entrada'; then filtrarElseBlock1; else filtrarElseBlock2"></div>
            <ng-template #filtrarElseBlock1>
              <button [matMenuTriggerFor]="menu_datas" [matMenuTriggerData]="{'column' : 'Data_Entrada'}" mat-menu-item>
                Filtrar Data de Entrada
              </button>
              <button [matMenuTriggerFor]="menu_datas" [matMenuTriggerData]="{'column' : 'Vencimento'}" mat-menu-item>
                Filtrar Vencimento
              </button>
            </ng-template>

            <ng-template #filtrarElseBlock2>
              <div *ngIf="column === 'Vencimento'; else filtrarElseBlock3" >
              <button mat-menu-item>
                Hoje
              </button>
              <button mat-menu-item>
                Este mês
              </button>
              <button mat-menu-item>
                Somente vencidos
              </button>
              <button mat-menu-item>
                Somente não vencidos
              </button>
              <button [matMenuTriggerFor]="escolher_data" mat-menu-item>
                Data específica
              </button>
              <button [matMenuTriggerFor]="periodo" mat-menu-item>
                Escolher período
              </button>
            </div>

            <ng-template #filtrarElseBlock3>
              <div *ngIf="column === 'Valor'; else filtrarElseBlock4" >
                <button [matMenuTriggerFor]="escolher_valor" [matMenuTriggerData]="{'num' : 2}" mat-menu-item>
                  Entre
                </button>
                <button [matMenuTriggerFor]="escolher_valor" [matMenuTriggerData]="{'num' : 1}" mat-menu-item>
                  Maior que
                </button>
                <button [matMenuTriggerFor]="escolher_valor" [matMenuTriggerData]="{'num' : 1}" mat-menu-item>
                  Maior ou igual que
                </button>
                <button [matMenuTriggerFor]="escolher_valor" [matMenuTriggerData]="{'num' : 1}" mat-menu-item>
                  Menor que
                </button>
                <button [matMenuTriggerFor]="escolher_valor" [matMenuTriggerData]="{'num' : 1}" mat-menu-item>
                  Menor ou igual que
                </button>
              </div>

            </ng-template>

            <ng-template #filtrarElseBlock4>
              <div *ngIf="column === 'Tipo'; else filtrarElseBlock5" >
                <div *ngFor="let item of this.filterLists.Tipo" (click)="filterBy(column, item)">
                  <button mat-menu-item>{{item | Tipo}}</button>
                </div>
              </div>
            </ng-template>

            <ng-template #filtrarElseBlock5>
              <div *ngIf="column === 'Contrato'; else filtrarElseBlock6" >
                <button mat-menu-item>Apenas Contratos</button>
                <button [matMenuTriggerFor]="filtrarEspec" mat-menu-item>
                  Contrato específico
                </button>
              </div>
            </ng-template>

            <mat-menu #filtrarEspec="matMenu">
              <ng-template #filtrarElseBlock6 matMenuContent>

                <div style="display: flex; text-align: center; flex-direction:column">
                  <mat-form-field (click)="textFilters.setValue('');initFilter_Text(column);$event.stopPropagation()"  class="form-field context-menu autocomplete" >
                    <mat-label>{{column}}</mat-label>
                    <input type="text"
                           placeholder="Pesquisar..."
                           matInput
                           [formControl]="textFilters"
                           [matAutocomplete]="auto">
                    <mat-autocomplete
                      autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option  *ngFor="let option of filteredOptionsText | async" [value]="option" >
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <button mat-raised-button color="primary" (click)="filterBy(column, textFilters.value)" [disabled]="!textFilters.valid">Confirmar</button>
                </div>
              </ng-template>
            </mat-menu>

            </ng-template>

            </ng-template>

      </mat-menu>

      <mat-menu #escolher_valor="matMenu">
        <ng-template matMenuContent let-num="num">

          <div  style="display: flex; text-align: center; flex-direction:column">
            <mat-form-field *ngIf="num==2" class="form-field context-menu" (click)="$event.stopPropagation()">
              <mat-label>Valor mínimo</mat-label>
              <input class="noselect" matInput [errorStateMatcher]="errorMatcher"   >
              <!-- <mat-error *ngIf="newEntryForm.get('Valor').hasError('required')" >
                É necessário inserir um valor.
              </mat-error> -->
            </mat-form-field>

            <mat-form-field *ngIf="num==2" class="form-field context-menu" (click)="$event.stopPropagation()">
              <mat-label>Valor máximo</mat-label>
              <input class="noselect" matInput [errorStateMatcher]="errorMatcher"   >
              <!-- <mat-error *ngIf="newEntryForm.get('Valor').hasError('required')" >
                É necessário inserir um valor.
              </mat-error> -->
            </mat-form-field>

            <mat-form-field *ngIf="num==1" class="form-field context-menu" (click)="$event.stopPropagation()">
              <mat-label>Valor</mat-label>
              <input class="noselect" matInput [errorStateMatcher]="errorMatcher"   >
              <!-- <mat-error *ngIf="newEntryForm.get('Valor').hasError('required')" >
                É necessário inserir um valor.
              </mat-error> -->
            </mat-form-field>

            <button mat-raised-button color="primary">Confirmar</button>
          </div>

        </ng-template>
      </mat-menu>

      <mat-menu #menu_datas="matMenu">
        <ng-template matMenuContent let-column="column">
          <button mat-menu-item>
            Hoje
          </button>
          <button mat-menu-item>
            Este mês
          </button>
          <button mat-menu-item *ngIf="column == 'Vencimento'">
            Somente vencidos
          </button>
          <button mat-menu-item *ngIf="column == 'Vencimento'">
            Somente não vencidos
          </button>
          <button [matMenuTriggerFor]="escolher_data" mat-menu-item>
            Data específica
          </button>
          <button [matMenuTriggerFor]="periodo" mat-menu-item>
            Escolher período
          </button>


        </ng-template>
      </mat-menu>

      <mat-menu #periodo="matMenu">
        <ng-template matMenuContent>
      <form [formGroup]="datasForm">
            <div style="display: flex; text-align: center; flex-direction:column">
              <mat-form-field class="form-field context-menu" (click)="$event.stopPropagation()">
                <mat-label>Início do período</mat-label>
                <input matInput formControlName="Data1" [matDatepicker]="picker_filtrardata_i">
                <mat-datepicker-toggle matSuffix [for]="picker_filtrardata_i"></mat-datepicker-toggle>
                <mat-datepicker #picker_filtrardata_i></mat-datepicker>
              </mat-form-field>


              <mat-form-field class="form-field context-menu" (click)="$event.stopPropagation()">
                <mat-label>Fim do Período</mat-label>
                <input matInput formControlName="Data2" [matDatepicker]="picker_filtrardata_f">
                <mat-datepicker-toggle matSuffix [for]="picker_filtrardata_f"></mat-datepicker-toggle>
                <mat-datepicker #picker_filtrardata_f></mat-datepicker>
              </mat-form-field>

              <mat-error *ngIf="dateError">A data do fim do período precisa ser maior que a do início.</mat-error>

              <button mat-raised-button color="primary" [disabled]="dateError">Confirmar</button>
            </div>
          </form>
        </ng-template>
      </mat-menu>

      <mat-menu #escolher_data="matMenu">
        <ng-template matMenuContent>
          <form [formGroup]="datasForm">
            <div style="display: flex; text-align: center; flex-direction:column">
              <mat-form-field class="form-field context-menu" (click)="$event.stopPropagation()">
                <mat-label>Data</mat-label>
                <input matInput formControlName="Data1" [matDatepicker]="picker_filtrardata">
                <mat-datepicker-toggle matSuffix [for]="picker_filtrardata"></mat-datepicker-toggle>
                <mat-datepicker #picker_filtrardata></mat-datepicker>
              </mat-form-field>

              <button mat-raised-button color="primary">Confirmar</button>
            </div>
          </form>
        </ng-template>
      </mat-menu>

      <mat-menu  #classificar="matMenu">
        <ng-template  matMenuContent let-column="column" let-class_msg="class_msg">
          <div *ngIf="column != 'Tipo'">
            <button mat-menu-item (click)="sortBy(column, 'ASC')"><mat-icon>arrow_downward</mat-icon>{{class_msg.up}}</button>
            <button mat-menu-item (click)="sortBy(column, 'DESC')"><mat-icon>arrow_upward</mat-icon>{{class_msg.down}}</button>
          </div>
          <div *ngIf="column == 'Tipo'">
            <button mat-menu-item (click)="sortBy(column, 'ASC')">Esse menu</button>
            <button mat-menu-item (click)="sortBy(column, 'DESC')">Precisa ser</button>
            <button mat-menu-item (click)="sortBy(column, 'DESC')">Arrumado</button>
          </div>

      </ng-template>
      </mat-menu>

    </div>

    <!-- FIM DOS MENUS DE FILTROS E CLASSIFICAÇÃO -->

    <div class="rightmost">

      <form focusNext [formGroup]="newEntryForm">

        <div class="button-selector">

          <div class="el-tag--plain">
            Tipo
          </div>

          <div class="button-row button-container">

            <button *ngIf="state===1" name="addButton" type="button" mat-mini-fab color="success" class="selection-button" (click)="selectType(0)">
              <mat-icon>add</mat-icon>
            </button>
            <button *ngIf="state===1" name="removeButton"  type="button" mat-mini-fab color="warn" class="selection-button" (click)="selectType(1)">
              <mat-icon>remove</mat-icon>
            </button>

            <button *ngIf="state===1" name="investButton" type="button" mat-mini-fab color="accent" class="selection-button" style="color: white;" (click)="selectType(2)">
              <mat-icon>show_chart</mat-icon>
            </button>

            <button *ngIf="state===2" name="outButton" type="button" mat-mini-fab color="warn" class="selection-button"(click)="selectType(4)">
              <mat-icon>arrow_upward</mat-icon>
            </button>

            <button *ngIf="state===2" name="inButton" type="button" mat-mini-fab color="success" class="selection-button"(click)="selectType(3)">
              <mat-icon>arrow_downward</mat-icon>
            </button>
          </div>

          <mat-error *ngIf="newEntryForm.get('Tipo').hasError('required') && newEntryForm.dirty" style="font-size: 1.5vh; text-align: center;">
            É necessário selecionar um tipo de entrada.
          </mat-error>

        </div>

        <div class="button-selector">

          <div class="el-tag--plain">
            Responsável
          </div>

        <div class="button-row button-container">

          <button name="CButton" type="button" mat-mini-fab style="background-color: black; color: white;" class="selection-button" (click)="selectResp('Coil')">
            <a style="font-size: 15px; font-weight: bolder;">Coil</a>
          </button>
          <button name="ZButton"  type="button" mat-mini-fab style="background-color: black; color: white;" color="warn" class="selection-button" (click)="selectResp('Zep')">
            <a style="font-size: 15px; font-weight: bolder;">Zep</a>
          </button>

          <button name="MButton"  type="button" mat-mini-fab style="background-color: black; color: white;" color="warn" class="selection-button" (click)="selectResp('MZ')">
            <a style="font-size: 15px; font-weight: bolder;">MZ</a>
          </button>

        </div>

        <mat-error *ngIf="newEntryForm.get('Responsavel').hasError('required') && newEntryForm.dirty" style="font-size: 1.5vh; text-align: center;">
          É necessário selecionar um responsável.
        </mat-error>

      </div>
      <div class="formulario">
      <div>
          <mat-form-field style="width: 100%;" class="form-field">
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="Descricao" [errorStateMatcher]="errorMatcher">
            <mat-error *ngIf="newEntryForm.get('Descricao').hasError('required')" >
              É necessário inserir uma descrição.
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field style="width: 40%;" class="form-field noselect">
          <mat-label>Valor</mat-label>
          <input class="noselect"  matInput formControlName="Valor" [errorStateMatcher]="errorMatcher"   >

          <mat-error *ngIf="newEntryForm.get('Valor').hasError('required')" >
            É necessário inserir um valor.
          </mat-error>

          <mat-hint> </mat-hint>
        </mat-form-field>

        <mat-form-field style="width: 35%;" class="form-field">
          <mat-label>Data de entrada</mat-label>
          <input matInput formControlName="Data_Entrada" [matDatepicker]="picker1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="newEntryForm.get('Data_Entrada').hasError('required')" >
            É necessário inserir uma data de entrada válida.
          </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 40%;" class="form-field">
          <mat-label>Data de vencimento</mat-label>
          <input matInput formControlName="Vencimento" [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="newEntryForm.get('Vencimento').hasError('required')" >
            É necessário inserir uma data de vencimento válida.
          </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 35%;" class="form-field">
          <mat-label>C.C.</mat-label>
          <mat-select formControlName="CC">
          <mat-option (click)="get_div_cc(cc.Nome)" *ngFor="let cc of CC" [value]="cc">
           {{ cc.Descricao }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="newEntryForm.get('Div_CC').hasError('required')" >
          É necessário inserir um de centro de custo.
        </mat-error>
      </mat-form-field>

      <button type="button" mat-icon-button color="primary" (click)="openCCDialog()">
        <mat-icon>add</mat-icon>
      </button>

      <mat-form-field  style="width: 40%;" class="form-field">
        <mat-label>Div.C.C.</mat-label>
        <mat-select formControlName="Div_CC">
        <mat-option *ngFor="let div_CC of div_CC" [value]="div_CC">
         {{ div_CC.Divisao }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="newEntryForm.get('Div_CC').hasError('required')" >
        É necessário inserir uma divisão de centro de custo.
      </mat-error>
    </mat-form-field>

  <mat-form-field *ngIf="newEntryForm.get('Tipo').value >= 0" style="width: 35%;" class="form-field">
      <mat-label *ngIf="newEntryForm.get('Tipo').value === 0 || newEntryForm.get('Tipo').value === 4">Origem</mat-label>
      <mat-label *ngIf="newEntryForm.get('Tipo').value === 1 || newEntryForm.get('Tipo').value === 3">Destinatário</mat-label>
      <mat-label *ngIf="newEntryForm.get('Tipo').value === 2">Instituição</mat-label>
      <mat-select formControlName="Pessoa">
        <mat-option *ngFor="let pessoa of Pessoa" [value]="pessoa">
          {{ pessoa.Nome }}
         </mat-option>
    </mat-select>
  </mat-form-field>

  <button *ngIf="newEntryForm.get('Tipo').value  >= 0" type="button" mat-icon-button color="primary" (click)="openPessoaDialog()">
    <mat-icon>add</mat-icon>
  </button>

  <mat-form-field *ngIf="newEntryForm.get('Tipo').value === 2" style="width: 40%;" class="form-field">
    <mat-label>Nº do Investimento</mat-label>
    <input matInput formControlName="N_Invest" [errorStateMatcher]="errorMatcher"   >

    <mat-error *ngIf="newEntryForm.get('N_Invest').hasError('pattern')" >
      O número de investimento deve ser um número.
    </mat-error>
</mat-form-field>
<div>
  <mat-form-field *ngIf="newEntryForm.get('Tipo').value === 0 " style="width: 35%;" class="form-field">
    <mat-label>Tem imposto?</mat-label>
    <mat-select formControlName="Imposto">
      <mat-option *ngFor="let imp of Imposto" [value]="imp">
        {{ imp.text }}
       </mat-option>
  </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="newEntryForm.get('Tipo').value === 1" style="width: 35%;" class="form-field">
    <mat-label>Tipo</mat-label>
    <mat-select formControlName="Tipo_despesa">
    <mat-option *ngFor="let desp of Tipo_despesa" [value]="desp">
     {{ desp.text }}
    </mat-option>
  </mat-select>
  </mat-form-field>
</div>

<div>
<mat-form-field (click)="initFilter_Contratos('Contrato');newEntryForm.controls.Contrato.setValue('')"  style="width: 50%;" class="form-field">
  <mat-label>Contrato</mat-label>
  <input type="text"
         placeholder="Pesquisar..."
         aria-label="Identificacao"
         matInput
         [formControl]="newEntryForm.controls.Contrato"
         [matAutocomplete]="auto">
  <mat-autocomplete
    autoActiveFirstOption #auto="matAutocomplete">
    <mat-option (click)="get_DataPgtoContrato(option)" (submit)="get_DataPgtoContrato(option)" *ngFor="let option of filteredOptions_Contratos | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-form-field style="width: 35%;" class="form-field">
  <mat-label>Data Pgmt</mat-label>
  <mat-select formControlName="DataPgtoContrato">
  <mat-option *ngFor="let data of DataPgtoContrato" [value]="data">
   {{ data | amLocal | amDateFormat: 'DD/MM/YYYY'}}
  </mat-option>
</mat-select>
</mat-form-field>
</div>

    <div>
      <mat-form-field style="width: 100%;" class="example-full-width">
        <mat-label>Observação</mat-label>
        <textarea style="height: 40px;" matInput formControlName="Observacao" [errorStateMatcher]="errorMatcher"></textarea>
        <mat-error *ngIf="newEntryForm.controls.Observacao.hasError('maxlength')" >
          O número máximo de caracteres é 200.
        </mat-error>
      </mat-form-field>
    </div>
      </div>

      <div class="button-row">
        <button mat-raised-button mat-raised-button color="primary" (click)='onSubmit()' [disabled]="!newEntryForm.valid">Concluir</button>
        <button mat-raised-button   (click)='onClear()' type="button">Limpar</button>
      </div>

      </form>

    </div>

  </div>
